/* TEMPLATE STYLES */


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}




/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/homeimage3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/homeimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/homeimage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(4) {
    background-image: url("../img/homeimage4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(5) {
    background-image: url("../img/homeimage5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(6) {
    background-image: url("../img/homeimage6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}

/*@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}*/

/* Carousel*/

/*
.carousel,
.carousel-item,
.active {
    height: 100%;

}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/homeimage3.png");
    background-repeat: no-repeat;
    background-size:cover;

}

.carousel-item:nth-child(2) {
    background-image: url("../img/homeimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/homeimage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(4) {
    background-image: url("../img/homeimage4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/

/*Caption*/

/*
.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
*/



/*.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}*/

.feature-box{
    padding-top: 3rem;
}


/*.view {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(25).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}*/


@media screen and (max-width: 650px){#shops,#shops_hr{display:none;}}




/*@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}*/

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

#slide1,#slide2,#slide3,#slide4 {
    font-size: 72px;
}

#product_section_style,#product_section_style1{
    margin-top: 5%;
}

#contact-mw,#contact-mw1{
    background-color: #4d51aa;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0rem;
}

.aluminium{
    margin-top: 3rem;
}